<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/mainLayout}"
>
  <head>
    <meta charset="UTF-8" />
    <!-- - $LAYOUT_TITLE -->
    <title layout:title-pattern="$CONTENT_TITLE">Add Post</title>
  </head>
  <body>
    <div layout:fragment="content" class="container mb-4">
      <h2 class="font-weight-bold">Add Post Manager</h2>
      <form id="formAddPost" action="javascript:void(0)" method="post" enctype="multipart/form-data">
        <div class="form-group mb-3">
          <label for="inputTitle">Title</label>
          <input
            type="text"
            class="form-control"
            id="inputTitle"
            placeholder="Title of post"
            name="title"
          />
        </div>
        <div class="form-group mb-3">
          <label for="inputCategory">Categories</label>
          <input
            type="text"
            class="form-control"
            id="inputCategory"
            name="categories"
            placeholder="vd: cong nghe, kinh te"
          />
        </div>
        <div class="form-group mb-3">
          <label for="inputSummary">Summary</label>
          <textarea name="summary" class="form-control" id="inputSummary" rows="3"></textarea>
        </div>

        <div class="custom-file mb-3">
          <input  name="avatar" type="file" class="custom-file-input" id="customFile" />
        </div>

        <div class="form-group mb-3">
          <label for="exampleFormControlSelect1">Status Post</label>
          <select name="status" class="form-control" id="exampleFormControlSelect1">
            <option value="DRAFT">Draft</option>
            <option value="PUBLIC">Public</option>
            <option value="UNPUBLIC">Unpublic</option>
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="inputContent">Content</label>
          <div id="summernote"></div>
          <input type="hidden" id="inputContent" name="content" >
        </div>

        <button id="btnAddPost" class="btn btn-primary text-align-center">Add Post</button>
      </form>
    </div>
  </body>
</html>
