<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Dashboard - SB Admin</title>
<link
	href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css"
	rel="stylesheet" />
<link href="/admin/css/styles.css" rel="stylesheet" />
<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js"
	crossorigin="anonymous"></script>

<link
	href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css"
	rel="stylesheet" />
</head>

<body class="sb-nav-fixed">
	<div th:replace="admin/fragments/header :: header"></div>

	<div id="layoutSidenav">
		<div id="layoutSidenav_nav">
			<div th:replace="admin/fragments/nav :: navigation"></div>
		</div>
		<div id="layoutSidenav_content">
			<div layout:fragment="content"></div>
			<div th:replace="admin/fragments/footer :: footer"></div>
		</div>
	</div>

	<!-- JS here -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		crossorigin="anonymous"></script>
	<script src="/admin/js/scripts.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"
		crossorigin="anonymous"></script>
	<script src="/admin/assets/demo/chart-area-demo.js"></script>
	<script src="/admin/assets/demo/chart-bar-demo.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest"
		crossorigin="anonymous"></script>
	<script src="/admin/js/datatables-simple-demo.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
	<script type="text/javascript">
      $(document).ready(function () {
    	  
    	  const inputContent = $("#inputContent");
    	  const formAddPost = $("#formAddPost");
    	  const formEditPost = $("#formEditPost")
    	  const inputContentEdit = $("#inputContentEdit");
    	  
        $("#summernote").summernote({
          placeholder: "Hello enter conent",
          tabsize: 2,
          height: 120,
          toolbar: [
            ["style", ["style"]],
            ["font", ["bold", "underline", "clear"]],
            ["color", ["color"]],
            ["para", ["ul", "ol", "paragraph"]],
            ["table", ["table"]],
            ["insert", ["link", "picture", "video"]],
            ["view", ["fullscreen", "codeview", "help"]],
          ],
        });
        /* 
        var markupStr = 'hello world';
        $('#summernote').summernote('code', markupStr); */
        
        $("#btnAddPost").click(()=>{
        	const markupStr = $('#summernote').summernote('code');
        	inputContent.val(markupStr);
        	
        	formAddPost.attr("action","/admin/post/add")
        	formAddPost.attr("method","post")
        	formAddPost.submit();
        	
        	console.log("da vao")
        })
        
        const valueContent = inputContentEdit.val();
        $('#summernoteEdit').summernote('code', valueContent);
        
        $("#btnEditPost").click(()=>{
        	const markupStr = $('#summernoteEdit').summernote('code');
        	inputContentEdit.val(markupStr);
        	
        	const idPost = $("#inputIdEdit").val();
        	
        	formEditPost.attr("action",`/admin/post/edit/${idPost}`)
        	formEditPost.attr("method","post")
        	formEditPost.submit();
        })
        
      });
    </script>
</body>
</html>
